
#header{
  width:100%;
  height:82px;
  box-shadow:0 2px 5px #ccc;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8%;
 
 
}
body{
  font-family: 'Open Sans', sans-serif;
}
#section1 {
  display: flex;
  align-items: center; 
}
#title a{
  text-decoration: none;
  color: black;

}
#shop{ 
  cursor: pointer;
  font-weight: 800;
  font-size: 36px;
}
#lane{
  font-size: 36px;
}
nav{
  color:black;
  font-size: 17px;
  margin-left: 20px;
 
}
#cloth{
  color:black;
  text-decoration: none;
  margin-left: 32px;
  
}
#accessory{
  color:black;
  text-decoration: none;
  margin-left: 32px;
}
#searchbox{
  margin-top: 10px;
  margin-left: 70px;
  display: flex;
}
#searchbox i{
  height:10px;
  width:10px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(245, 242, 242);
  padding:13px; 
  color:#999;
 
}

#searchbar{
  width: 330px;
  height:36px;
  border: 1px solid rgb(245, 242, 242);
  background-color: rgb(245, 242, 242);
  box-sizing: border-box;
  padding: 10px 24px 8px 48px;
  color: black;
  outline: none;
}
#session2{
  display: flex;
}
#cart{
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  
}
#addCart a{
  color: black;
}
#count{
  height:18px;
  width:18px;
  border-radius: 50%;
  background-color: #009688;
  position: absolute;
  right:190px;
  top:20px;
  color:#fff;
  font-size: 13px;
  text-align: center;
  
}
#profile{
  height:50px;
  width:50px;
  border-radius: 50%;
}

  #footer{
    width: 100%;
    height:320px;
    background-color: #1c1b1e;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 4% 8%;
  }
  #footer p{
    text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      color: white;
      opacity: 0.9;
      letter-spacing: 1px;
      line-height: 2.2;
  
  }
  #footer div{
    padding-right: 100px;
    
  }
  #footer div a{
    text-decoration: none;
      color: white;
      display: block;
      margin-top: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      opacity: 0.8;
      line-height: 1.1px;
  }

#product{
    margin-top: 80px;
    margin-bottom: 90px;
}
.product_div{
    display: flex;
}

.left_div{
    width: 30%;
    padding-left:130px ;
}
.left_div img{
    width: 420px;
    height:560px;
    margin-top: 50px;
   
}
.right_div{
    width: 60%;
    
    margin-top: 40px;
    padding-left: 90px;
}
.brand{
  margin-top:90px;
  opacity: 0.6;
}
.h3{
  font-size: 20px;
}
.product_discription h1{
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -2px;
    margin-top: 0px;
   
    
}
.product_discription p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    

}
.product_discription h4,h3{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
    
    

}

.h3{
    display: inline;

}
.product_preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}
.product_preview img{
    width: 10%;
    margin: 5px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}
button{
  background-color: #009688;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: transform 200ms;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
#edyoda_logo{
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}